body{
    font-family: 'Inter', sans-serif;
}
:root{
    --azulClaro-color:#6495ED;
    --azulEscuro-color:#454D6B;
    --logouf-background:#5C5D8D;
    --white-color:#FFFFFF;
    --whiteEscuro-background :#ECF0F1;
    --black-color:#030000;
    --text-color:#363457;
}
.cabecalho{
    width: 100%;
    height: 83px;
    background-color: var(--azulClaro-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.cabecalho > button{
    height: 38px;
    width: 100px;
    border: none;
    background-color: var(--logouf-background);
    color: var(--white-color);
    font-size: 1rem;
    font-weight: 700;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
}
.cabecalho > button:hover{
    transition: 0.5s;
    background-color: var(--white-color);
    color: var(--logouf-background);
    
}
.cabecalho__figure{
    display: flex;
    align-items: center;
    gap: 9px;
}
.cabecalho__figure > img{
    width: 68px;
    border-radius: 100%;
    
}
.cabecalho__figure > figcaption{
    width: 100px;
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--white-color);
    white-space: nowrap;
    overflow: hidden;             
    text-overflow:ellipsis;
}
.coitainer{
    background-color: var(--azulEscuro-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.coitainer__batePapo{
    display: flex;
    align-items: center;
    margin:39px 0 60px 0;
    width: 250px;
    height: 108px;
    background-color: var(--whiteEscuro-background);
    border-radius: 20px;

}
.coitainer__batePapo form{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.coitainer__batePapo form > textarea{
    background-color: var(--whiteEscuro-background);
    margin-left: 7px;
    border: none;
    outline: none;
    resize: none;
    width: 230px;
    height: 50px;
    font-size: 1.1rem;
    font-weight: 400;
    color: var(--text-color);
}
.coitainer__batePapo form > button > span{
 display: none;
}
.coitainer__batePapo form > button {
    width: 74px;
    height: 32px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    background-color: var(--logouf-background);
    transition: 0.5s;
}
.coitainer__batePapo form > button:hover{
    transition: 0.5s;
    background-color: var(--text-color);
    transform: scale(1.2);
}
.secao__lista{
    display: flex;
    flex-direction: column;
    gap: 56px;
    margin-bottom: 50px;
}
.secao__lista li{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    height: 360px;
    background-color: var(--whiteEscuro-background);
    border-radius: 20px;
    justify-content: space-around;
}
.secao__lista li > figure{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.secao__lista li > figure > figcaption{
    text-align: center;
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--black-color);
}
.secao__lista li img{
    width: 68px;
    height: 69px;
    border-radius: 100%;
    
}
.secao__lista li > p{
    margin-left: 20px;
    font-size: 0.9rem;
    font-weight: 400;
    color: var(--text-color);
}
.secao__lista li > span{
    color: var(--text-color);
    font-size: 0.9rem;
    font-weight: 400;
}
.secao__lista-divHiden{
    display: none;
}
.secao__lista__div{
    display: flex;
    flex-direction: row;

}

.secao__lista li > div > button{
    cursor: pointer;
    border-radius: 100%;
    border: none;
}

.secao__lista li > div > button > img{
    width: 48px;
    height: 46px;
    transition: 0.5s;
}
#trash{
    width: 44px;
    height: 42px;
    transition: 0.5s;
}
.secao__lista li > div > button > img:hover{
    transition: 0.5s;
    transform: scale(1.2);
}
@media (min-width:480px){
    .coitainer__batePapo{
        width: 400px;
        height: 126px;
    }
    .coitainer__batePapo form > textarea{
        width: 380px;
        height: 75px;
    }
    .secao__lista li{
        width: 400px;
    }
}
@media (min-width:700px){
    .cabecalho{
        justify-content: space-between;

    }
    .cabecalho__figure{
        margin-left: 128px;
    }
    .cabecalho > button{
        margin-right: 128px;
    }
}
@media (min-width:1020px) {
    .coitainer__batePapo{
        width: 60%;
    }
    .coitainer__batePapo form > textarea{
        width:50vw;
        height: 50px;
        margin-left: 30px;
    }
    .coitainer__batePapo form > button{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 12vw;
        height: 38px;
    }
    .coitainer__batePapo form > button > span{
            display: flex;
            font-size: 1rem;
            font-weight: 700;
            color: var(--whiteEscuro-background);

       }
       .coitainer__batePapo form > button > img{
            display: none;
       }
       .secao__lista li{
            height: 231px;
            display: flex;
            width: 59vw;
            justify-content: center;
            align-items: flex-start;
          
       }
       .secao__lista li > figure{
             margin-left: 40px;
            flex-direction: row;
            display: flex;
            align-items: flex-start;
            gap: 42px;
            height: 24px;
       }
       .secao__lista li > figure >img{

            width: 120px;
            height: 101px;

        }   
        .secao__lista li > p{
            height: 50px;
            overflow-y: hidden;
            margin: 13px 0px 0px 201px;
        }
        .secao__lista li > span{
            margin: 53px 0 30px 50vw;
        }
        .secao__lista__div{
            margin: -65px 0px 3px 27px;
            gap: 32px;
        }
        .cabecalho__figure > figcaption{
            text-overflow: initial;
            overflow:unset;
        }
}
